* {
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: rgb(187, 235, 195);
}

a {
    text-decoration: none;
}

a:link, a:visited,  a:hover, a:active
{
    color: #000000;
    text-decoration: none;
}

header a:hover {
    text-decoration: solid;
    color: rgb(13, 109, 64);
}

header {
    background-color: azure;
    margin: 0;
    border: 0;
    display: flex;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

nav ul {
    align-items: center;
}

.logo img {
    height: 50px;
    margin-left: 1em;
}

.form-input {
    display: block;
}

nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav img{
    height: 4em;
}

.nav-sublist {
    display: none;
    position:absolute;
}

.nav-item:hover > ul {
    display: block;
}

.nav-list{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    list-style: none;    
}

.nav-list li{
    display: flex;
    flex-direction: column;
    margin-left: 2em;
    margin-right: 2em;
}

.nav-item {
    display: flex;
    flex-direction: column;
}


/* Content */

.universidades {
    background-color: azure;
}

.body-subtitle {
    text-align: center;
    margin: 2em;
}

.principal-act {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.act-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.act-item i {
    margin: 1em;
    font-size: 2em;
    color: azure;
}

.rrss-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.rrss-container i {
    font-size: 3em;
    color: azure;
}

.rrss-container i:hover {
    font-size: 4em;
    transform: rotate(15deg);
    color: rgb(7, 32, 18);
    transition-duration: 0.3s;
}

.slider {
    background-color: azure;
}

.sponsors {
    display: flex;
    justify-content: center;
}

.sponsors img {
    margin: 1em;
}

.apoya {
    display: flex;
}

.apoya div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    border:1px solid black;
    padding: 2em;
}

.apoya div p {
    text-align: center;
}

.form-container {
    display: flex;
    justify-content: space-around;
}

.contact-basic-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 2em;
}

.form-container img {
    width: fit-content;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer-cont div a {
    display: flex;
    justify-content: start;
}

.footer-cont div a:hover {
    color: azure;
}

.footer-cont div i {
    margin-right: 1em;
    font-size: 1.5em;
}

.copyright {
    display: flex;
    justify-content: center;
}